block vars
doctype html
html
  head
    title Pin Games
    meta(name='author', content='Richard C Felix - https://www.richardcfelix.com')
    meta(name='description' content='See My Games')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    
    link(href='css/style.css' rel='stylesheet')
    
    script(src='components/menu-btns.js' defer)
    script(src='components/game-section.js' defer)
    script(src='components/game-card.js' defer)
    script(src="components/custom-modal.js" defer)
    script(src="components/filter-games.js" defer)
    script(src="components/search-games.js" defer)
    script(src="components/save-data.js" defer)
    script(src="components/edit-game.js" defer)
    script(src="components/play-game.js" defer)
    script(src="components/add-game.js" defer)
  body
    block body
