block vars
doctype html
html
  head
    title Pin Games
    meta(name='author', content='Richard C Felix - https://www.richardcfelix.com')
    meta(name='description' content='See My Games')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='utf-8')

    link(href='assets/index.43c00c3e.css' rel='stylesheet')
    link(href="assets/index.26942245.css" rel="stylesheet")
    script(src="assets/index.535d5679.js" type="module" crossorigin defer)  
  body
    block body
