:host([open]) {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gamesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  color: hsl(0, 0%, 100%);
  background-color: hsl(210, 14%, 53%);
  text-align: center;
  box-shadow: 5px 5px 5px 0px hsl(0, 0%, 0%);
  text-shadow: 2px 3px hsl(0, 0%, 0%);
  padding: 5px;
}
