button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  background-color: hsl(225, 57%, 43%);
  cursor: pointer;
  box-shadow: 5px 5px 5px 0px hsl(0, 0%, 0%);
  border: none;
  transition: 0.5s ease all;
}

button img {
  height: 100%;
}

.filterBtn img,
.saveJsonBtn img,
.searchBtn img {
  height: 50%;
}

.saveJsonDataOpen {
  bottom: 385px;
}

.filterGamesOpen,
.activeMenuBtn {
  bottom: 135px;
}

.searchGamesOpen {
  bottom: 260px;
}

h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  bottom: 70vh;
  color: hsl(0, 0%, 100%);
  width: 80vw;
  text-shadow: 5px 5px hsl(0, 0%, 0%);
  font-size: 3em;
}

.addNewGameNoData {
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  bottom: 50vh;
}

.activeMenuBtn {
  background-color: hsl(270, 50%, 40%);
}

.hide {
  display: none;
}
