:host([open]) {
  display: flex;
  align-items: center;
}

.playBtn {
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  background-color: transparent;
}
