:host([open]) {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gamesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  color: #fff;
  background-color: rgb(119, 136, 153);
  text-align: center;
  box-shadow: 5px 5px 5px 0px #000;
  text-shadow: 2px 3px black;
  padding: 5px;
}
